page-fundraiser-list {
    
}

/*ion-card.card {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}*/

.background {
   // background-image: url('https://cdn.eventfinda.co.nz/uploads/events/transformed/1012592-458505-14.jpg?v=2');
}
