<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentFoundReports">
        <ion-avatar item-start>
            <img src="http://192.168.1.4:18080/seahawks-web/{{item.profilePic}}" />
          </ion-avatar>
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <ion-note item-end *ngIf="item.isClosed">{{item.title}}</ion-note>
    </button>
  </ion-list>
</ion-content>