page-list-report {
    $colors: (
        primary:    #488aff,
        secondary:  #239e42,
        danger:     #f53d3d,
        light:      #f4f4f4,
        dark:       #222,
        twitter: (
          base: #55acee,
          contrast: #ffffff
        )
      );
}
